<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @designation_type.name %>
</p>

<%= link_to 'Edit', edit_designation_type_path(@designation_type) %> |
<%= link_to 'Back', designation_types_path %>
