<div class="block newsletter">

<!--@todo: replace with mailchimp code-->
     <form class="form-inline" /><span class="spacer">Subscribe us to stay up to date with our latest news </span> <i class="icon-arrow-right"></i>
            <div class="input-append">
			
              <input class="input-medium" type="text" placeholder="Email" />
              <button class="btn btn-Default btn-danger" type="button">Subscribe</button>
            </div>
          </form>
        </div>