<body class="page page-team">
<div id="content">
  <div class="container" id="about">
    <div class="row"> 
      <!-- sidebar -->
      <div class="span3 sidebar">
        <div class="section-menu">
          <ul class="nav nav-list">
            <li class="nav-header">In This Section</li>
            <li class="active"><a href="about.html" class="first">About Us <small>How It All Began</small><i class="icon-angle-right"></i></a></li>
            <li><a href="team.html">The Team <small>Our team of stars</small><i class="icon-angle-right"></i></a></li>
            <li><a href="contact.html">Contact Us<small>How to get in touch</small><i class="icon-angle-right"></i></a></li>
          </ul>
        </div>
      </div>
      
      <!--main content-->
      <div class="span9">
       <h2 class="title-divider"><span>About<span class="de-em">Us</span></span> <small>What & who makes us tick!</small></h2>        
        <!-- The team -->
        <div class="block team margin-top-large" id="team">
          <div class="media">
            <div class="pull-left"> <img src="img/team/women2.jpg" class="img-polaroid media-object" alt="" /> </div>
            <div class="media-body">
              <!--h4 class="media-heading">Guru Ganesh</h4-->
              <!--p class="role">Founder & developer</p-->
               <p>Are you ready for your next great opportunity? We’re here to help you find it.</p>

                  <br />
            
              
                  <p>If you’re looking for What to do next, our website helps you to accelerates your search. 
                     Instead of browsing multiple carreer boards, run one search on Whatdoidonext.com and let our 
                     intelligent algorithms do the work for you. 
                     We’ll automatically deliver the most relevant listings based on your qualification.
                   </p>


              <ul class="inline">
                <!--li><a href="#"><i class="icon-twitter"></i> Twitter</a></li>
                <li><a href="#"><i class="icon-facebook"></i> Facebook</a></li>
                <li><a href="#"><i class="icon-linkedin"></i> LinkedIn</a></li>
                <li><a href="#"><i class="icon-google-plus"></i> Google+</a></li-->
              </ul>
            </div>
          </div>
          <div class="media">
            <div class="pull-left"> <img src="img/team/women3.jpg" class="img-polaroid media-object" alt="" /> </div>
            <div class="media-body">
              <!--h4 class="media-heading">Riyaz</h4-->
              <!--p class="role">Designer</p-->
               <p>
               We guide you through this confusing journey, 
            with the guarantee to shake up your carreer hunting experience forever. 
            We help to get insight on every on going current industry trends and process.
            Our hopes to be your knight in shining armor all the way. 
            Join our community of job seekers to experience the difference.
           </p>

              <ul class="inline">
                <!--li><a href="https://twitter.com/isourcein"><i class="icon-twitter"></i> Twitter</a></li>
                <li><a href="https://facebook.com/riyaz008"><i class="icon-facebook"></i> Facebook</a></li>
                
                <li><a href="#"><i class="icon-google-plus"></i> Google+</a></li-->
              </ul>
            </div>
          </div>
        </div>
        
   
      </div>
    </div>
  </div>
</div>
<div id="content-below" class="wrapper">
  <div class="container">
    <div class="row-fluid">
      <div class="upsell"> 

  <%= render partial: 'application/subscribe'%>

	  </div>
    </div>
  </div>
</div>
<%= render partial: 'layouts/footer'%>