<body class="page page-signup">
<div id="content">
  <div class="container"> 
    <!-- Sign Up form -->
    <form action ="/register" method = "post" class="form-login form-wrapper form-medium" />
      <h3 class="title-divider"><span>Sign Up</span> <small>Already signed up? <a href="/login">Login here</a>.</small></h3>

      <h5>Account Information</h5>

      <input name= "username" type="text" class="input-block-level" placeholder="Username" required />
      <input name= "email" type="email"  class="input-block-level" placeholder="Email address" required/>
      <input name= "password" type="password" minlength="6" class="input-block-level" placeholder="Password" required/>
      <input name= "password_confirmation" type="password" class="input-block-level" placeholder="Confirm Password" required/>
      <label class="checkbox">
        <input type="checkbox" value="term" required/>
        I agree with the Terms and Conditions. </label>
      <button class="btn btn-primary" type="submit">Sign Up</button>
    </form>
  </div>
</div>

 