<body class="page page-team">
<div id="content">
  <div class="container" id="about">
    <div class="row"> 
      <!-- sidebar -->
      <div class="span3 sidebar">
        <div class="section-menu">
          <ul class="nav nav-list">
            <li class="nav-header">In This Section</li>
            <li><a href="about.html" class="first">About Us <small>How It All Began</small><i class="icon-angle-right"></i></a></li>
            <li class="active"><a href="team.html">The Team <small>Our team of stars</small><i class="icon-angle-right"></i></a></li>
            <li><a href="contact.html">Contact Us<small>How to get in touch</small><i class="icon-angle-right"></i></a></li>
          </ul>
        </div>
      </div>
      
      <!--main content-->
      <div class="span9">
        <h2 class="title-divider"><span>The <span class="de-em">Team</span></span> <small>Our team of stars!</small></h2>
        
        <!-- The team -->
        <div class="block team margin-top-large" id="team">
          <div class="media">
            <div class="pull-left"> <img src="img/team/adele.jpg" class="img-polaroid media-object" alt="Jimi" /> </div>
            <div class="media-body">
              <h4 class="media-heading">Guru Ganesh</h4>
              <p class="role">Founder & developer</p>
              <p>A Web Developer and a blogger who likes to design web pages and layouts.</p>
              <ul class="inline">
                <li><a href="#"><i class="icon-twitter"></i> Twitter</a></li>
                <li><a href="#"><i class="icon-facebook"></i> Facebook</a></li>
                <li><a href="#"><i class="icon-linkedin"></i> LinkedIn</a></li>
                <li><a href="#"><i class="icon-google-plus"></i> Google+</a></li>
              </ul>
            </div>
          </div>
          <div class="media">
            <div class="pull-left"> <img src="img/team/adele.jpg" class="img-polaroid media-object" alt="Adele" /> </div>
            <div class="media-body">
              <h4 class="media-heading">Riyaz</h4>
              <p class="role">Designer</p>
              <p>I am a Information Technology student who loves to design web pages and layouts. 
			  I have a passion for making the web beautiful and make use of the Internet.</p>
              <ul class="inline">
                <li><a href="https://twitter.com/isourcein"><i class="icon-twitter"></i> Twitter</a></li>
                <li><a href="https://facebook.com/riyaz008"><i class="icon-facebook"></i> Facebook</a></li>
                
                <li><a href="#"><i class="icon-google-plus"></i> Google+</a></li>
              </ul>
            </div>
          </div>
        </div>
        
   
      </div>
    </div>
  </div>
</div>
<div id="content-below" class="wrapper">
  <div class="container">
    <div class="row-fluid">
      <div class="upsell"> 

   <%= render partial: 'application/subscribe'%>


	  </div>
    </div>
  </div>
</div>
<%= render partial: 'layouts/footer'%>
