<footer id="footer">
  <div class="container">
 
    <div class="row-fluid">
      <div id="toplink"><a href="#top" class="top-link" title="Back to top">Back To Top <i class="icon-chevron-up"></i></a></div>
      <!--@todo: replace with company copyright details-->
      <div class="subfooter">
        <div class="span6">
          <p>Whatcanidonext.org</p>
        </div>
        <div class="span6">
          <ul class="inline pull-right">
         <li><a href="about.html">About Us</a></li>
		  
            <li><a href="team.html">Our Team</a></li>
			 <li><a href="contact.html">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>